body {
    padding: 0px;
    margin: 0px;
    background-color: rgba(158, 179, 157, 0.616);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
header {
    font-size: 42px;
    padding: 50px 0px 20px 50px;
}
#topics {
    font-size: 31px;
    border-top: solid black 1px;
    width: 70%;
    padding-top: 10px;
    margin-bottom: 10px;
}
#title {
    padding-bottom: 10px;
}
ul {
    background-color: #c9c1c7;
    list-style-type:square;
    border: solid black 2px;
    width: 350px;
    margin: 0px 0px 25px 50px;
    padding: 5px;
}
main div {
    font-size: 28px;
    width: 450px;
    margin: 0px 0px 0px 50px;
    padding: 5px;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
    background-color: rgb(6, 59, 28);
}
footer {
    background-color:  rgb(59, 6, 17);
    font-size: 14px;
    color: white;
    text-align: center;
}
.devnotes:before {
    content:"The site is in development stage. Please report bugs to the developer. Last update: 03/22.";
}

.updates {
    background-color:  rgb(59, 6, 17);
    font-size: 14px;
    color: white;
    text-align: left;
    padding: 5px;
}
.updates:before {
    content:"Contribute to the site! Message me for any information you'd like to add.";
}



@media (min-width: 1199px) {  
    main {
        column-count: 3;
    }
    #letterd {
        margin-bottom: unset;
    }

    #lettern {
        margin-bottom: unset;
    }

}

@media (min-width: 753px) and (max-width: 1193px) {
    main {
        column-count: 2;
    }
    #letteri {
        margin-bottom: 170px;
    }
}